/* -----------------------------
   Global
------------------------------ */

* {
  font-family: "JetBrainsMonoNerdFontMono";
  font-size: 14px;
}

window#waybar {
  background: #282828;
  color: #EBDBB2;

  border-top: 3px solid #1B1B1B;
  border-bottom: 3px solid #1B1B1B;
}

/* -----------------------------
   Module containers
------------------------------ */

.modules-left,
.modules-center,
.modules-right {
  border-top: 3px solid #1B1B1B;
  border-bottom: 3px solid #1B1B1B;
}

.modules-left {
  border-left: 3px solid #1B1B1B;
}

.modules-right {
  border-right: 3px solid #1B1B1B;
}

/* -----------------------------
   Uniform module spacing
------------------------------ */

/* THIS FIXES YOUR PROBLEM */

.modules-left > widget,
.modules-center > widget,
.modules-right > widget {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

/* -----------------------------
   Workspace styling
------------------------------ */

#workspaces {
  padding-left: 0.8em;
}

#workspaces button {
  padding: 0 0.45em;
  color: #EBDBB2;
}

#workspaces button.visible.active {
  color: #EA6962;
}

/* -----------------------------
   Clock
------------------------------ */

#clock {
  padding-left: 1em;
  padding-right: 1em;

  border-right: 3px solid #D8A657;
}

/* -----------------------------
   System modules
------------------------------ */

#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#custom-wifi,
#tray {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

/* -----------------------------
   Tooltip
------------------------------ */

tooltip {
  background: #282828;
  border: 2px solid #1B1B1B;
  font-size: 13px;
}
